#notification-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.notification {
  background-color: #000;
  color: cyan;
  font-size: 1.1rem;
  padding: 15px 25px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  margin-bottom: 10px;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.5s ease;
}

.notification.show {
  opacity: 1;
  transform: translateX(0);
}

body{
  background: #000; 
}

.heading
{
 text-align: center;
 color:cyan;
 margin-top: 4rem;
 font-size:1.2rem; 
}
.info
{
color:#00BFFF; 
 font-size:1.2rem; 
}

.info select
{
  background: white;
 color: aqua;
 border: 1px solid cyan;
  padding: 0.3rem;
  margin: 0rem;
 border-radius: 0.5rem;
font-size: 01rem;
}

.problem textarea
{
  color: #000; 
 font-size:1rem; 

}
.submitbtn
{
  border: 1px solid cyan;
  background:#000;
  font-size: 01rem;
 color: aqua;
 position: absolute;
 bottom: 20px;
 left: 30%;
 padding: 0.5rem;
  margin: 0rem;
  width: 50%;
 border-radius: 0.5rem;
}

